@tailwind base;
@tailwind components;

.flow > * + * {
  @apply border-2 border-gray-100 mt-16 p-8;
}

input {
  @apply transition
  relative
  duration-150
  ease-in-out
  border-2
  border-gray-900
  px-1
  py-1
  text-xl
  h-10
  w-48;
}

input[type="text"]:focus {
  @apply outline-none border-4 border-blue-600 shadow-xl;
  z-index: 1;
}

input:disabled {
  @apply border-gray-300 bg-gray-100;
}

button:disabled {
  @apply border-gray-300 bg-gray-100 text-gray-300 shadow-none;
}
button:disabled:hover {
  @apply border-gray-300 bg-gray-100 text-gray-300 shadow-none;
}

button {
  @apply transition
  duration-150
  ease-in-out
  border-2
  border-gray-900
  px-4 py-1
  text-xl
  h-10
  w-32;
}

button:focus {
  @apply outline-none;
}

@tailwind utilities;
