@tailwind base;
@tailwind components;

body {
  background-color: white;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-3xl;
}

p {
  @apply mt-4;
}

::selection {
  @apply bg-blue-600 text-white;
}

select::-ms-expand {
  display: none;
}

.card {
  @apply border-2
   border-gray-900
    bg-white 
    p-8;
  /* mx-auto; */
}

input {
  @apply transition
  relative
  duration-150
  ease-in-out
  border-2
  border-gray-900
  px-1
  py-1
  text-xl
  h-10
  w-48;
}

input[type="text"]:focus {
  @apply outline-none bg-blue-100 border-blue-600 shadow-xl z-10;
}

input[type="text"].invalid {
  @apply border-red-600 bg-red-100;
}

input[type="text"].complete {
  @apply border-green-600 bg-green-100;
}

input:disabled {
  @apply border-gray-300 bg-gray-100;
}

button:disabled {
  @apply border-gray-300 bg-gray-100 text-gray-300 shadow-none;
}
button:disabled:hover {
  @apply border-gray-300 bg-gray-100 text-gray-300 shadow-none;
}

button {
  @apply transition
  duration-150
  ease-in-out
  border-gray-900
  border-2
  text-xl
  h-10
  w-32;
}

button:focus {
  @apply outline-none;
}

.btn-red:hover {
  @apply bg-red-600 border-red-600 text-white shadow-xl;
}
.btn-red:active {
  @apply bg-red-400 border-red-400 text-white;
}

.btn-green:hover {
  @apply bg-green-600 border-green-600 text-white shadow-xl;
}
.btn-green:active {
  @apply bg-green-400 border-green-400 text-white;
}

.btn-blue:hover {
  @apply bg-blue-600 border-blue-600 text-white shadow-xl;
}
.btn-blue:active {
  @apply bg-blue-400 border-blue-400 text-white;
}

select {
  padding-right: 10%;
  @apply appearance-none bg-white;
}

.dropdown {
  display: flex;
  position: relative;
  align-items: center;
  @apply border-2
  appearance-none
  rounded-none
  border-gray-900
  px-2 py-1
  h-10;
}

.dropdown::after {
  position: absolute;
  right: 10px;
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  @apply z-10;
}

select {
  @apply bg-transparent
  z-20;
}

select:focus {
  @apply outline-none;
}

@tailwind utilities;
